# This is a basic workflow to help you get started with Actions

name: Sync Localization Files to Azure DevOps

on:
  push:
    paths:
      - 'de/localization_de.json'
      - 'en/localization_en.json'
      - 'fr/localization_fr.json'
      - 'it/localization_it.json'
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  sync-to-azure:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
        # Runs a single command using the runners shell
      - name: Set up Git
        run: |
          git config --global user.email "ivan@supertext.com"
          git config --global user.name "ivan-supertext"

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
          
      - name: Set Branch Name
        id: set_branch_name
        run: |
          # Generate the branch name with the current timestamp
          export BRANCH_NAME="sync-localization-$(date +%Y%m%d%H%M%S)"
          echo "Branch name: $BRANCH_NAME"
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

      - name: Create new branch and commit changes to Azure DevOps
        env:
          AZURE_DEVOPS_PAT: 9xLMre9Ma2YLJFprT3RPLPxSAMJd6oSRmPThPzTCaMAAinqTEb5aJQQJ99AJACAAAAAoDb21AAASAZDOn8rD
        run: |
          # Clone the Azure DevOps repo
          git clone https://supertext:${AZURE_DEVOPS_PAT}@dev.azure.com/supertext/Starstruck/_git/Starstruck.translation-interface
          AZURE_REPO="Starstruck.translation-interface"
          cd $AZURE_REPO
                
          echo "Branch name: $BRANCH_NAME"
          # Validate that BRANCH_NAME is not empty
          if [ -z "$BRANCH_NAME" ]; then
            echo "Error: Branch name is empty"
            exit 1
          fi
          git checkout -b "$BRANCH_NAME"

      - name: Copy localization files
        run: |
          cd Starstruck.translation-interface
          mkdir -p src/localization/de
          mkdir -p src/localization/en
          mkdir -p src/localization/fr
          mkdir -p src/localization/it
          
          cp "${{ github.workspace }}/de/localisation_de.json" "src/localization/de/localization_de.json"
          cp "${{ github.workspace }}/en/localization_en.json" "src/localization/en/localization_en.json"
          cp "${{ github.workspace }}/fr/localization_fr.json" "src/localization/fr/localization_fr.json"
          cp "${{ github.workspace }}/it/localization_it.json" "src/localization/it/localization_it.json"
          
      - name: Commit and push changes
        run: |
          cd Starstruck.translation-interface
          git add src/localization
          git commit -m "Sync localization files from GitHub"
          echo "Attempting to push branch $BRANCH_NAME"
          git push  origin "$BRANCH_NAME"

      - name: Create a Pull Request with Auto-Complete
        run: |
          az repos pr create \
            --organization $AZURE_DEVOPS_ORG_URL \
            --project $AZURE_DEVOPS_PROJECT \
            --repository $AZURE_REPO_NAME \
            --source-branch $BRANCH_NAME \
            --target-branch ${{ env.BASE_BRANCH }} \
            --title "Sync localization files" \
            --description "Auto-sync localization files from GitHub" \
            --auto-complete
      
