# This is a basic workflow to help you get started with Actions

name: Sync Localization Files to Azure DevOps

on:
  push:
    paths:
      - 'de/localization_de.json'
      - 'en/localization_en.json'
      - 'fr/localization_fr.json'
      - 'it/localization_it.json'
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  sync-to-azure:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
        # Runs a single command using the runners shell
      - name: Set up Git
        run: |
          git config --global user.email "ivan@supertext.com"
          git config --global user.name "ivan-supertext"

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Create new branch and commit changes to Azure DevOps
        env:
          AZURE_DEVOPS_PAT: 9xLMre9Ma2YLJFprT3RPLPxSAMJd6oSRmPThPzTCaMAAinqTEb5aJQQJ99AJACAAAAAoDb21AAASAZDOn8rD
        run: |
          # Clone the Azure DevOps repo
          git clone https://supertext:${AZURE_DEVOPS_PAT}@dev.azure.com/supertext/Starstruck/_git/Starstruck.translation-interface
          AZURE_REPO="Starstruck.translation-interface"
          cd $AZURE_REPO
          
          # Create a new branch based on the current timestamp or commit hash
          BRANCH_NAME="sync-localization-$(date +%Y%m%d%H%M%S)"
          
          echo "Branch name: $BRANCH_NAME"
          git checkout -b $BRANCH_NAME

      - name: Copy localization files
        run: |
          cd Starstruck.translation-interface
          mkdir -p src/localization/de
          mkdir -p src/localization/en
          mkdir -p src/localization/fr
          mkdir -p src/localization/it
          
          cp "${{ github.workspace }}/de/localization_de.json" "src/localization/de/localization_de.json"
          cp "${{ github.workspace }}/en/localization_en.json" "src/localization/en/localization_en.json"
          cp "${{ github.workspace }}/fr/localization_fr.json" "src/localization/fr/localization_fr.json"
          cp "${{ github.workspace }}/it/localization_it.json" "src/localization/it/localization_it.json"
          
      - name: Commit and push changes
        run: |
         cd Starstruck.translation-interface
         git add src/localization
         git commit -m "Sync localization files from GitHub"
         git push origin "$BRANCH_NAME"
         git branch --set-upstream-to=origin/$BRANCH_NAME "$BRANCH_NAME"
      
