# This is a basic workflow to help you get started with Actions

name: Sync Localization Files to Azure DevOps

on:
  push:
    paths:
      - 'de/localization_de.json'
      - 'en/localization_en.json'
      - 'fr/localization_fr.json'
      - 'it/localization_it.json'
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  sync-to-azure:
    runs-on: ubuntu-latest
    env:
      AZURE_DEVOPS_ORG_URL: "https://dev.azure.com/supertext"
      AZURE_DEVOPS_ORG: "supertext"
      AZURE_DEVOPS_PROJECT: "Starstruck"
      AZURE_REPO_NAME: "Starstruck.translation-interface"
      BASE_BRANCH: "develop"
      AZURE_TARGET_PATH: "src/localization"
      BRANCH_PREFIX: "sync-localization"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Install keyring dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-keyring python3-secretstorage
        
        # Runs a single command using the runners shell
      - name: Set up Git
        run: |
          git config --global user.email "ivan@supertext.com"
          git config --global user.name "ivan-supertext"
          
      - name: Clone Azure DevOps Repository
        env:
          AZURE_DEVOPS_PAT: ${{ secrets.AZURE_DEVOPS_PAT }}
        run: |
          git clone https://supertext:${{ secrets.AZURE_DEVOPS_PAT }}@dev.azure.com/supertext/Starstruck/_git/Starstruck.translation-interface
          
      - name: Set Branch Name
        id: set_branch_name
        run: |
          # Generate the branch name with the current timestamp
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          export BRANCH_NAME="${{ env.BRANCH_PREFIX }}-$(date +%Y%m%d%H%M%S)"
          echo "Branch name: $BRANCH_NAME"
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV
          
      - name: Create new branch in Azure DevOps
        run: |
          cd $AZURE_REPO_NAME
          git checkout -b "$BRANCH_NAME"

      - name: Copy localization files
        run: |
          cd $AZURE_REPO_NAME
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/de"
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/en"
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/it"
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/fr"
          
          cp "${{ github.workspace }}/de/localization_de.json" "${{ env.AZURE_TARGET_PATH }}/de/localization_de.json"
          cp "${{ github.workspace }}/en/localization_en.json" "${{ env.AZURE_TARGET_PATH }}/en/localization_en.json"
          cp "${{ github.workspace }}/fr/localization_fr.json" "${{ env.AZURE_TARGET_PATH }}/fr/localization_fr.json"
          cp "${{ github.workspace }}/it/localization_it.json" "${{ env.AZURE_TARGET_PATH }}/it/localization_it.json"
          
      - name: Commit and push changes
        run: |
          cd $AZURE_REPO_NAME
          git add ${{ env.AZURE_TARGET_PATH }}
          git commit -m "Sync localization files from GitHub"
          echo "Attempting to push branch $BRANCH_NAME"
          git push  origin "$BRANCH_NAME"
    
      - name: Authenticate
        env:
          AZURE_DEVOPS_EXT_PAT: 9zrZRbquE9qGS2HPRqtBtyRKYiZlfszDoQmcf56QrLqEiPH5PkuYJQQJ99AKACAAAAAoDb21AAASAZDOO5Ag
        run: |
          echo "9zrZRbquE9qGS2HPRqtBtyRKYiZlfszDoQmcf56QrLqEiPH5PkuYJQQJ99AKACAAAAAoDb21AAASAZDOO5Ag" | az devops login --organization "https://dev.azure.com/supertext"

      - name: Verify Authentication
        run: |
          az repos list --org https://dev.azure.com/supertext --project Starstruck
          
          az devops configure --defaults organization=https://dev.azure.com/supertext project=Starstruck
      
      - name: Create Pull Request in Azure DevOps and Set Auto-Complete
        env:
          AZURE_DEVOPS_EXT_PAT: 9zrZRbquE9qGS2HPRqtBtyRKYiZlfszDoQmcf56QrLqEiPH5PkuYJQQJ99AKACAAAAAoDb21AAASAZDOO5Ag
          BRANCH_NAME: ${{ env.BRANCH_NAME }}
          REVIEWER_ID_1: "2edaf683-9596-4c7f-b703-a2d124d08fee"  # Replace with actual reviewer IDs or usernames
          REVIEWER_ID_2: "9dda57cc-3e4b-60d0-8882-d32d28dc3b6e"
          REVIEWER_ID_3: "052d0d9b-f3c9-47ad-b066-7740e1677992"
          REVIEWER_ID_4: "a76a389d-7b74-613b-9253-fd3dcd69ccbf"
          WORK_ITEM_ID: 13144
        run: |
          # Configure Azure DevOps CLI
          az devops configure --defaults organization=https://dev.azure.com/supertext project=Starstruck
          
          # Create the pull request
          PR_ID=$(az repos pr create \
            --repository $AZURE_REPO_NAME \
            --source-branch "$BRANCH_NAME" \
            --target-branch $BASE_BRANCH \
            --title "Sync localization files from GitHub" \
            --description "Automated sync of localization files from GitHub." \
            --reviewer $REVIEWER_ID_1 --required true \
            --reviewer $REVIEWER_ID_2 --required true \
            --reviewer $REVIEWER_ID_3 --required true \
            --reviewer $REVIEWER_ID_4 --required true \
            --work-item $WORK_ITEM_ID \
            --query pullRequestId -o tsv)
            
          echo "Pull request created with ID $PR_ID"
          
          # Set auto-complete
          az repos pr update --id $PR_ID --auto-complete true
      
