# This is a basic workflow to help you get started with Actions

name: Sync Localization Files to Azure DevOps

on:
  push:
    paths:
      - 'de/localization_de.json'
      - 'en/localization_en.json'
      - 'fr/localization_fr.json'
      - 'it/localization_it.json'
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  sync-to-azure:
    runs-on: ubuntu-latest
    env:
      #AZURE_DEVOPS_PAT: ${{ secrets.AZURE_DEVOPS_PAT }}
      AZURE_DEVOPS_ORG_URL: "https://dev.azure.com/supertext"
      AZURE_DEVOPS_ORG: "supertext"
      AZURE_DEVOPS_PROJECT: "Starstruck"
      AZURE_REPO_NAME: "Starstruck.translation-interface"
      BASE_BRANCH: "main"
      AZURE_TARGET_PATH: "src/localization"
      BRANCH_PREFIX: "sync-localization"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
        # Runs a single command using the runners shell
      - name: Set up Git
        run: |
          git config --global user.email "ivan@supertext.com"
          git config --global user.name "ivan-supertext"

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
          
      - name: Clone Azure DevOps Repository
        env:
          AZURE_DEVOPS_PAT: ${{ secrets.AZURE_DEVOPS_PAT }}
        run: |
          git clone https://supertext:${AZURE_DEVOPS_PAT}@dev.azure.com/supertext/Starstruck/_git/Starstruck.translation-interface
          
      - name: Set Branch Name
        id: set_branch_name
        run: |
          # Generate the branch name with the current timestamp
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          export BRANCH_NAME="${{ env.BRANCH_PREFIX }}-$(TIMESTAMP)"
          echo "Branch name: $BRANCH_NAME"
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV
          
      - name: Create new branch in Azure DevOps
        run: |
          cd $AZURE_REPO_NAME
          git checkout -b "$BRANCH_NAME"

      - name: Copy localization files
        run: |
          cd $AZURE_REPO_NAME
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/de"
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/en"
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/it"
          mkdir -p "${{ env.AZURE_TARGET_PATH }}/fr"
          
          cp "${{ github.workspace }}/de/localisation_de.json" "${{ env.AZURE_TARGET_PATH }}/de/localization_de.json"
          cp "${{ github.workspace }}/en/localization_en.json" "${{ env.AZURE_TARGET_PATH }}/en/localization_en.json"
          cp "${{ github.workspace }}/fr/localization_fr.json" "${{ env.AZURE_TARGET_PATH }}/fr/localization_fr.json"
          cp "${{ github.workspace }}/it/localization_it.json" "${{ env.AZURE_TARGET_PATH }}/it/localization_it.json"
          
      - name: Commit and push changes
        run: |
          cd $AZURE_REPO_NAME
          git add ${{ env.AZURE_TARGET_PATH }}
          git commit -m "Sync localization files from GitHub"
          echo "Attempting to push branch $BRANCH_NAME"
          git push  origin "$BRANCH_NAME"

      - name: Create a Pull Request with Auto-Complete
        run: |
          az repos pr create \
            --organization $AZURE_DEVOPS_ORG_URL \
            --project $AZURE_DEVOPS_PROJECT \
            --repository $AZURE_REPO_NAME \
            --source-branch $BRANCH_NAME \
            --target-branch ${{ env.BASE_BRANCH }} \
            --title "Sync localization files" \
            --description "Auto-sync localization files from GitHub" \
            --auto-complete
      
